body {
  font-family: "Open Sans";
}
picture {
  display: block;
}
input {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 660px) {
  .container {
    max-width: 660px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 130px;
  }
}
.button {
  background-color: transparent;
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  height: 55px;
  color: #ffffff;
  font-weight: 700;
}
.button--download {
  width: 280px;
}
@media (min-width: 660px) {
  .button--download {
    width: 300px;
  }
}
@media (min-width: 660px) {
  .br--mobile {
    display: none;
  }
}
.br--tablet {
  display: none;
}
@media (min-width: 660px) {
  .br--tablet {
    display: inline;
  }
}
.header {
  background-color: #00000030;
  height: 66px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.header .container {
  display: flex;
  width: 100%;
  height: 100%;
}
@media (min-width: 1200px) {
  .header .container {
    justify-content: space-between;
  }
}
@media (min-width: 660px) {
  .header {
    height: 110px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 1200px) {
  .header__inner {
    padding-bottom: 15px;
  }
}
.nav {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  border-top: 1px solid #000000;
  z-index: 1;
}
@media (min-width: 660px) {
  .nav {
    top: 110px;
  }
}
@media (min-width: 1200px) {
  .nav {
    display: flex;
    align-items: center;
    position: static;
    width: auto;
    justify-content: stretch;
    border: 0;
  }
}
.nav--closed {
  display: none;
}
.nav--opened {
  display: block;
}
@media (min-width: 1200px) {
  .nav {
    display: flex;
  }
}
.nav__item {
  text-align: center;
  justify-content: center;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  background-color: #283645;
  padding: 15px 0;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
}
@media (min-width: 1200px) {
  .nav__item {
    background-color: transparent;
    text-transform: none;
    font-weight: 400;
    line-height: 18px;
    border: 0;
    box-shadow: none;
    padding: 0 39px;
  }
}
.nav__item:last-child {
  padding-right: 0;
}
.nav__toggle {
  width: 50px;
  height: 24px;
  border: 0;
  background-color: transparent;
  position: relative;
}
.nav__toggle--closed::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  z-index: 1000;
  top: 0;
  left: 0;
}
.nav__toggle--closed:focus::before,
.nav__toggle--closed:hover::before {
  background-color: #D22856;
  box-shadow: 0 10px 0 0 #D22856, 0 20px 0 0 #D22856;
}
.nav__toggle--opened::before,
.nav__toggle--opened::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 3px;
  border-radius: 5px;
  background-color: #ffffff;
  top: 10px;
  left: 15px;
}
.nav__toggle--opened::before {
  transform: rotate(45deg);
}
.nav__toggle--opened::after {
  transform: rotate(-45deg);
}
.nav__toggle--opened:focus::before,
.nav__toggle--opened:focus::after,
.nav__toggle--opened:hover::after,
.nav__toggle--opened:hover::before {
  background-color: #D22856;
}
@media (min-width: 1200px) {
  .nav__toggle {
    display: none;
  }
}
.intro {
  position: relative;
  background-image: url(../img/bg-back-tablet@1x.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 462px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 660px) {
  .intro {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-size: auto 729px;
    display: grid;
    grid-template-columns: 330px 330px;
    grid-template-rows: 365px 365px;
    grid-template-areas: "title ." "download .";
    margin: 0 auto;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .intro {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-size: auto 853px;
    grid-template-columns: 473px 727px;
    grid-template-rows: 426.5px 426.5px;
  }
}
.intro__hand {
  transform: translateX(-30px);
}
@media (min-width: 660px) {
  .intro__hand {
    transform: translateX(0px);
    grid-area: hand;
    position: absolute;
    right: calc(50% - 356.5px);
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .intro__hand {
    left: calc(50% - 477.5px);
  }
}
.intro__title {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 26px 0;
  padding-top: 92px;
  display: flex;
  justify-content: center;
  width: 280px;
}
@media (min-width: 660px) {
  .intro__title {
    grid-area: title;
    font-size: 40px;
    line-height: 120%;
    padding-bottom: 18px;
    align-self: end;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .intro__title {
    font-size: 50px;
    line-height: 68px;
  }
}
.intro__download {
  background-color: #1D2631;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 38px;
  z-index: 1;
  width: 100%;
}
@media (min-width: 660px) {
  .intro__download {
    grid-area: download;
    background-color: transparent;
    padding: 0;
    padding-top: 13px;
    padding-right: 10px;
    padding-left: 20px;
    align-self: baseline;
  }
}
@media (min-width: 660px) {
  .intro__download {
    padding-top: 25px;
  }
}
.intro__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
@media (min-width: 660px) {
  .intro__description {
    font-size: 18px;
  }
}
.intro__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 35px;
       column-gap: 35px;
  align-items: center;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 20px;
}
@media (min-width: 660px) {
  .intro__icons {
    margin-top: 46px;
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .intro__icons {
    margin-top: 67px;
    margin-bottom: 58px;
  }
}
.offer {
  background-image: url(../img/grey-background-mobile.svg);
  background-position: bottom;
  background-position-y: 165px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 659px) {
  .offer {
    overflow: hidden;
  }
}
@media (min-width: 660px) {
  .offer {
    background-image: url(../img/grey-background-tablet.svg);
    background-position-y: 230px;
    overflow: visible;
  }
}
@media (min-width: 1200px) {
  .offer {
    background-image: url(../img/grey-background-desktop.svg);
    background-position-y: 390px;
  }
}
.offer__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #283645;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 36px;
}
@media (min-width: 660px) {
  .offer__title {
    font-size: 40px;
    line-height: 54px;
    padding-top: 58px;
    padding-bottom: 40px;
  }
  .offer__title br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .offer__title {
    font-size: 50px;
    line-height: 68px;
    padding-top: 77px;
    padding-bottom: 66px;
  }
}
.offer__title__text {
  margin: 0;
}
@media (min-width: 660px) {
  .offer__title__text br {
    display: inline;
  }
}
.offer__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 44px;
}
@media (min-width: 660px) {
  .offer__list {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: ". mood" ". world" ". friends";
    row-gap: 40px;
    padding-top: 65px;
    position: relative;
    align-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .offer__list {
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "mood world friends";
    gap: 0;
  }
}
.offer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 660px) {
  .offer__item {
    align-items: flex-start;
  }
  .offer__item:nth-child(1) {
    grid-area: mood;
  }
  .offer__item:nth-child(2) {
    grid-area: world;
  }
  .offer__item:nth-child(3) {
    grid-area: friends;
    padding-bottom: 30px;
  }
}
@media (min-width: 660px) and (min-width: 1200px) {
  .offer__item:nth-child(3) {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .offer__item {
    margin: 0 10px;
  }
}
.offer__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-top: 43px;
  margin-bottom: 24px;
}
@media (min-width: 660px) {
  .offer__subtitle {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .offer__subtitle {
    order: 2;
    font-size: 30px;
    line-height: 30px;
    margin: 0 24px;
    margin-bottom: 25px;
  }
}
.offer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin: 0;
}
@media (min-width: 1200px) {
  .offer__text {
    order: 3;
    font-size: 18px;
    line-height: 30px;
    margin: 0 24px;
  }
}
@media (min-width: 1200px) {
  .offer__phone {
    order: 1;
    margin-bottom: 59px;
  }
}
.offer__phone--3 {
  transform: translateY(35px);
}
@media (max-width: 659px) {
  .offer__phone--3 {
    margin-top: 48px;
  }
}
@media (min-width: 660px) {
  .offer__phone--3 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: none;
  }
}
@media (min-width: 1200px) {
  .offer__phone--3 {
    position: static;
  }
}
.effect {
  display: none;
}
@media (min-width: 660px) {
  .effect {
    display: block;
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .effect {
    background-color: #F2F2F2;
  }
}
.effect .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 330px;
  align-items: end;
  grid-template-areas: ". info";
  background-image: url(../img/clocks.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 238px 276px;
  background-position-x: 20px;
}
@media (min-width: 1200px) {
  .effect .container {
    grid-template-columns: 370px 570px;
    grid-template-rows: 429px;
    align-items: center;
    background-size: auto;
    background-position-x: 130px;
  }
}
@media (min-width: 1200px) {
  .effect__clock {
    width: 298px;
    height: 345px;
  }
}
.effect__info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  grid-area: info;
}
@media (min-width: 1200px) {
  .effect__info {
    margin-right: 0;
  }
}
.effect__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .effect__title {
    line-height: 30px;
    margin-bottom: 30px;
  }
  .effect__title br {
    display: none;
  }
}
.effect__text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin: 0;
  margin-bottom: 20px;
}
.effect__text .br--desktop {
  display: none;
}
@media (min-width: 1200px) {
  .effect__text {
    margin-bottom: 40px;
    margin-right: 110px;
  }
  .effect__text br {
    display: none;
  }
  .effect__text .br--desktop {
    display: inline;
  }
}
.effect__link {
  font-size: 14px;
  line-height: 24px;
  color: #D22856;
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .effect__link {
    margin-bottom: 0;
  }
}
.review {
  margin-top: 40px;
}
@media (min-width: 660px) {
  .review {
    margin-top: 100px;
  }
}
@media (min-width: 1200px) {
  .review {
    margin-top: 72px;
  }
}
.review .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .review .container {
    flex-direction: row;
  }
}
.review__button {
  display: none;
  width: 22px;
  height: 41px;
  background-color: transparent;
  border: 0px;
  padding: 0;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .review__button {
    display: block;
  }
}
.review__button svg {
  fill: #283645;
  opacity: 0.3;
}
.review__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 660px) {
  .review__item {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1200px) {
  .review__item {
    padding-top: 100px;
    max-width: 688px;
    margin: 0 100px;
    margin-bottom: 35px;
    background-image: url("data:image/svg+xml,%3Csvg width='79' height='63' viewBox='0 0 79 63' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M35.1468 6.97257L30.8388 0C28.3886 1.48142 0 12.0588 0 39.1293C0 46.2698 0.341426 63 18.9793 63C30.2162 63 32.9778 52.8473 32.9778 49.5783C32.9778 27.8508 11.5081 35.5838 11.5081 35.5838C11.5081 17.7771 31.3911 9.06631 35.1468 6.97257Z' fill='%23EFEFEF'/%3E%3Cpath d='M79 6.97257L74.7322 0C72.302 1.48142 43.8833 12.0588 43.8833 39.1293C43.8833 46.2698 44.2247 63 62.8726 63C74.0995 63 76.8611 52.8473 76.8611 49.5783C76.8611 27.8508 55.3914 35.5838 55.3914 35.5838C55.3914 17.7771 75.3146 9.06631 79 6.97257Z' fill='%23EFEFEF'/%3E%3C/svg%3E%0A");
    background-position: top center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 660px) {
  .review__author {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .review__author {
    margin: 0;
  }
}
.review__title {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 660px) {
  .review__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .review__title {
    font-size: 24px;
  }
}
.review__age {
  font-size: 14px;
  line-height: 30px;
  display: none;
}
@media (min-width: 660px) {
  .review__age {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .review__age {
    font-size: 18px;
  }
}
.review__text {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 660px) {
  .review__text {
    font-size: 18px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .review__text {
    margin-bottom: 45px;
  }
}
.review__slider-list {
  margin: 15px 0;
  padding: 0;
  list-style: none;
  display: flex;
}
@media (min-width: 1200px) {
  .review__slider-list {
    display: none;
  }
}
.review__dots {
  background-color: #283645;
  opacity: 0.6;
  margin: 0 9px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  display: flex;
}
.review__dots--active {
  opacity: 1;
  background-color: transparent;
  outline: 3px solid #283645;
}
.sub {
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 70px;
  margin: 0 auto;
  background-image: url(../img/bg-gray-sub.svg);
  background-position: bottom center;
  background-position-y: -15px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .sub {
    background-position-y: -30px;
    background-position-x: 0px;
  }
}
.sub table {
  border-spacing: 0px;
  table-layout: fixed;
  width: 616px;
  margin: 0 auto;
}
.sub__cell {
  padding: 0;
  width: 152px;
  height: 45px;
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}
.sub__cell--price {
  width: 152px;
  height: 75px;
  background-color: #283645;
  color: #ffffff;
  padding: 0;
  outline: 2px solid #e5e5e5;
  position: relative;
  text-transform: uppercase;
}
.sub__cell--price:nth-child(3) {
  background-image: url(../img/bg-hit-tablet.svg);
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.sub__cell--price:nth-child(3)::before {
  content: "ХИТ";
  position: absolute;
  top: -3px;
  left: -2px;
  width: 50px;
  height: 50px;
  transform: rotate(-45deg);
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.sub__cell--name {
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
}
.sub__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  display: block;
}
.sub__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  display: block;
}
.icon-yes {
  fill: #3DC644;
}
.icon-no {
  fill: #F25B26;
}

/*# sourceMappingURL=style.css.map */
